.img-fluid{
    height: 400px;
    width:600px;
}

#return{
    display:flex;
    justify-content: center;
    
}

.container{
    margin-bottom: 3%;
    
}

.container img{
    box-shadow: -2px 4px 5px 2px rgba(0, 0, 0, 0.5);
    margin-bottom: 15px;

}

#return a{
    margin-right : 10px;
}


#main-post-buttons button{
    display: flex;
    width: 40px;
    height: 40px;
}

.col-1{
    padding:0px;
}

.row{
    margin-right: 0px;
}


body > div.container > div > div > p.col-3{
    padding-left:0px;

}

#main-post-buttons{
    margin-left: 0px;
}





#main-post-buttons > form.col-3{
    flex: 0 0 0%;
    max-width: 17%;
    position: relative;
}


#deletePostForm{
    display: flex;
    justify-content: flex-end;
}
#deletePostForm button{
  background-color: red;
  border:red;
}

*form{

    margin :0px;

}


#deletePostBtn{

    position: absolute;
    z-index: 3;
    top: 453px;
}

#commentForm{
    margin-top: 8px;
    justify-content:center;
    display: flex;
    margin-bottom: 5%;

}

#commentForm input{
    height:30px;
}

#commentForm button{
    height:30px;
    width: 67px;
}

#commentForm span{
}





